body{
background-image: url(https://live.staticflickr.com/1775/42247572660_8b69387e93_b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.head{
  text-align: center;
  color: blue;
  font-family: 'Lacquer', sans-serif;
  font-size: 35px;


}

.overlay{
  background-color: rgb(0,0,0,0.5);
margin-left: 25%;
margin-right: 16%;
  opacity: 0.9;
  border-radius: 10px;
  color: white;
}
.h{
  font-family: 'Lacquer', sans-serif;
  color: blue
}
.head img{
  float:right;
}
.style{
  background-color: black;
  color: white;
}

.card-deck{
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 18px;

}
.card{
  background: black;
  border-radius: 25%;
}
footer{
  text-align: center;
  color: black;
  font-size: 20px;
}
