body{
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.head{
  text-align: center;
  color: blue;
  font-family: 'Lacquer', sans-serif;
  font-size: 35px;


}

.overlay{
  background-color: rgb(0,0,0,0.5);
margin-left: 25%;
margin-right: 16%;
  opacity: 0.9;
  border-radius: 10px;
  color: white;
}
.h{
  font-family: 'Lacquer', sans-serif;
  color: blue
}
.head img{
  float:right;
}
